.current-budget-card {
  background-color: white;
  padding: 15px;
}

.current-budget-card h3 {
  margin: 0;
}

.current-budget-card .budget-info {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-budget-card .progress-bar {
  margin-top: 10px;
}
