.header-history {
  display: grid;
  grid-template-columns: 300px repeat(3, 1fr);
  column-gap: 10px;
}

.header-history input {
  width: 280px;
}

@media only screen and (max-width: 750px) {
  .header-history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 15px;
  }

  .header-history .filter:first-child {
    grid-column: 1 / span 3;
    grid-row: 1;
  }

  .header-history input {
    width: calc(100% - 18px);
  }
}
