.header-history {
  display: grid;
  grid-template-columns: 300px repeat(3, 1fr) 38px;
  column-gap: 10px;
  margin-bottom: 20px;
}

.header-history input {
  width: 280px;
}

.header-history button {
  align-self: flex-end;
}

@media only screen and (max-width: 750px) {
  .header-history {
    display: grid;
    grid-template-columns: 1fr 38px;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
  }

  .header-history .filter {
    grid-column: 1 / span 4;
  }

  .header-history .filter.filter-date {
    grid-column: 1 / span 3;
  }

  .header-history input {
    width: calc(100% - 18px);
  }
}
