.expense-card {
  margin-bottom: 20px;
}

.expense-form {
  display: grid;
  grid-template-columns: repeat(2, 5fr) 1fr 2.5fr auto;
  column-gap: 10px;
}

.form-group input {
  height: 20px;
  width: calc(100% - 18px);
  padding: 8px;
}

.form-actions {
  display: flex;
  column-gap: 5px;
}

.form-actions button {
  align-self: flex-end;
}
