button {
  height: 38px;
  width: inherit;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border: 0 solid;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  padding: 0 12px;
}

button:hover {
  transform: scale(1.015);
}

button.icon {
  width: 38px;
  padding: 10px;
}

button.primary {
  background-color: #4682b4;
}

button.secondary {
  background-color: #333;
}

button.tertiary {
  background-color: white;
  border: 1.5px solid #333;
}
