button {
  height: 38px;
  width: inherit;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border: 0 solid;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

button:hover {
  transform: scale(1.015);
}

button.icon {
  width: 38px;
}

button.success {
  background-color: #218c74;
}

button.danger {
  background-color: #b33939;
}

button.primary {
  background-color: #0077c2;
}

button.secondary {
  background-color: #333;
}
