.header-current-budgets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  margin-bottom: 20px;
}

.header-current-budgets-actions {
  display: flex;
  column-gap: 8px;
}
