.expense-card {
  display: grid;
  grid-template-columns: 5fr repeat(2, 3fr);
  padding: 20px;
}

.expense-card p {
  margin: 0;
}

.expense-informations > p.positive {
  padding: 8px;
  color: white;
  font-weight: lighter;
  background-color: #4682b4;
  border-radius: 5px;
}
.expense-informations > p.negative {
  padding: 8px;
  color: white;
  font-weight: lighter;
  background-color: #aa4a44;
  border-radius: 5px;
}

.expense-informations {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.expense-budget-name,
.expense-budget-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.expense-budget-name > span,
.expense-budget-type > span {
  margin-bottom: 4px;
}

@media only screen and (max-width: 750px) {
  .expense-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 20px;
  }

  .expense-informations {
    grid-row: 1 / span 2;
    grid-column: 1;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
  }

  .expense-informations > p {
    margin-bottom: 5px;
  }

  .expense-budget-name {
    margin-bottom: 5px;
  }
}
